<h1>
  {{ titulo }}
</h1>

<div class="loading" *ngIf="loading">
    <img src="/assets/img/loader.gif" alt="loading-spin">
  </div>

<div class="container">
  <ul id="albums-list">
    <li *ngFor="let album of albums" class="album-item">
      <div class="data">
        <h4>{{ album.title }}</h4>
        <p class="buttons">
          <a [routerLink]="['/album', album._id]" class="btn btn-default">
            Ver album
          </a>
          <!-- usando routerLink para movernos entre los componentes -->
          <a class="btn btn-ver">
            Añadir Foto
          </a>
          <a [routerLink]="['/album/editar', album._id]" class="btn btn-editar">
            Editar
          </a>
          <a class="btn btn-eliminar" (click)="onDeleteConfirm(album._id)">
            Eliminar
          </a>
        </p>
        <div class="sure" *ngIf="flagToDelete == album._id">
          <p><span><strong>¿Estas seguro de querer borrar el album?</strong></span></p>
          <a (click)="onDeleteAlbum(album._id)" class="btn btn-eliminar">
            Eliminar
          </a>
          <a (click)="onCancelConfirm(album._id)" class="btn btn-ver">
            Cancelar
          </a>
        </div>

      </div>
    </li>
  </ul>
</div>
